.logo {
	font-size: 3em;
	text-align: center;
}
.main-class {

}
.details-container {

}
.details-image {

}
.detailed-title {
	display: block;
}
.thumbnails-list {
	list-style: none;
}
.thumbnails-anchor {

}
.thumbnails-image {
	width: 500px;
}
.thumbnails-title {
	display: block;	
}