.logo {
	font-size: 10em;
	text-align: center;
}
.main-class {

}
.details-container {

}
.details-image {
	width: 80vw;
	height: 70vw;
}
.detailed-title {
	display: block;	
	font-size: 20em;
	align-items: center;
}
.thumbnails-list {
	list-style: none;
}
.thumbnails-item {
	display:inline;
	height: 22em;
}
.thumbnails-anchor {
	
}
.thumbnails-image {
	height: 20em;
}
.thumbnails-title {
	display: block;	
	font-size: 5em;
	align-items: center;
}